<div class="asw-menu">
    <div class="asw-menu-header">
        <div class="asw-menu-title asw-translate">
            Accessibility Menu
        </div>
        <div style="gap:15px;">
            <button type="button" class="asw-menu-reset" title="Reset settings">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 4c2.1 0 4.1.8 5.6 2.3 3.1 3.1 3.1 8.2 0 11.3a7.78 7.78 0 0 1-6.7 2.3l.5-2c1.7.2 3.5-.4 4.8-1.7a6.1 6.1 0 0 0 0-8.5A6.07 6.07 0 0 0 12 6v4.6l-5-5 5-5V4M6.3 17.6C3.7 15 3.3 11 5.1 7.9l1.5 1.5c-1.1 2.2-.7 5 1.2 6.8.5.5 1.1.9 1.8 1.2l-.6 2a8 8 0 0 1-2.7-1.8Z"/>
                </svg>
            </button>
            <button type="button" class="asw-menu-close" title="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41Z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="asw-menu-content">
        <div class="asw-card">
            <select id="asw-language" title="Language" class="asw-select"></select>
        </div>

        <div class="asw-card">
            <div class="asw-card-title">
                Content Adjustments
            </div>
            <div class="asw-adjust-font">
                <div class="asw-label" style="margin:0;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="margin-right:15px;">
                        <path d="M2 4v3h5v12h3V7h5V4H2m19 5h-9v3h3v7h3v-7h3V9Z"/>
                    </svg>
                    <div class="asw-translate">
                        Adjust Font Size
                    </div>
                </div>
                <div>
                    <div class="asw-minus" data-key="font-size" role="button" aria-pressed="false" title="Decrease Font Size" tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M19 13H5v-2h14v2Z"/>
                        </svg>
                    </div>
                    <div class="asw-amount" >
                        100%
                    </div>
                    <div class="asw-plus" data-key="font-size" role="button" aria-pressed="false" title="Increase Font Size" tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2Z"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="asw-items content">
            </div>
        </div>

        <div class="asw-card">
            <div class="asw-card-title">
                Color Adjustments
            </div>
            <div class="asw-items contrast">
            </div>
        </div>

        <div class="asw-card">
            <div class="asw-card-title ">
                Tools
            </div>
            <div class="asw-items tools">
            </div>
        </div>

        <div class="asw-card">
            <button type="button" class="asw-menu-reset asw-menu-reset-footer-btn asw-translate" title="Reset settings">
                Reset settings
            </button>
        </div>
    </div>
    
    <div class="asw-footer">
        <a href="https://accessibility-widget.pages.dev" target="_blank">Web Accessibility By <span style="font-weight:700;color:inherit;">Sienna</span> ❤️</a>
    </div>
</div>

<div class="asw-overlay">
</div>