.asw-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0px;
    box-shadow: 0px 0px 20px #00000080;
    opacity: 1;
    transition: .3s;
    z-index: 500000;
    overflow: hidden;
    background: #eff1f5;
    width: 500px;
    line-height: 1;
    font-size: 16px;
    height: 100%;
    letter-spacing: 0.015em;
}

.asw-menu * {
    color: #000 !important;
    font-family: inherit;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
    letter-spacing: normal !important;
}

.asw-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    height: 55px;
    font-weight: 700 !important;
    background-color: #0848ca !important;
}

.asw-menu-title {
    font-size: 16px !important;
    color: #fff !important;
}

.asw-menu-header svg {
    fill: #0848ca !important;
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    min-height: 24px !important;
    max-width: 24px !important;
    max-height: 24px !important;
}

.asw-menu-header > div {
    display: flex;
}

.asw-menu-reset,
.asw-menu-close {
    padding: 5px !important;
    margin: 0 !important;
    background: white !important;
    cursor: pointer !important;
    border-radius: 50% !important;
    transition: opacity .3s ease !important;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.asw-menu-reset-footer-btn {
    border-radius: 5px !important;
    width: 100% !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    padding: 15px !important;
    background: #0848ca !important;
    color: #fff !important;
}

.asw-menu-reset:hover,
.asw-menu-close:hover,
.asw-menu-reset:focus,
.asw-menu-close:focus,
.asw-menu-reset-footer-btn:hover,
.asw-menu-reset-footer-btn:focus {
    outline: 3px solid hsla(0,0%,100%,.4) !important;
}

.asw-card {
    margin: 0 15px 20px;
}

.asw-card-title {
    font-size: 14px !important;
    padding: 15px 0;
    font-weight: 600 !important;
    opacity: 0.8;
}

.asw-menu .asw-select {
    width: 100% !important;
    padding: 0px 15px!important;
    font-size: 16px !important;
    font-family: inherit !important;
    font-weight: 600 !important;
    border-radius: 45px !important;
    background: #fff !important;
    border: none !important;
    min-height: 45px !important;
    max-height: 45px !important;
    height: 45px !important;
    color: inherit !important;
}

.asw-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.asw-btn {
    aspect-ratio: 6 / 5;
    border-radius: 12px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #333;
    font-size: 16px !important;
    background: #fff !important;
    border: 2px solid transparent !important;
    transition: border-color 0.2s ease;
    cursor: pointer;
    word-break: break-word;
    gap: 10px;
    position: relative;
    width: auto !important;
    height: auto !important;
}

.asw-btn .asw-translate,
.asw-adjust-font .asw-label div {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.asw-plus,
.asw-minus {
    background-color: #eff1f5 !important;
    border: 2px solid transparent;
    transition: border .2s ease;
}


.asw-plus:hover,
.asw-minus:hover {
    border-color: #0848ca !important;
}

.asw-amount {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.asw-adjust-font svg, .asw-set-font svg {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    min-height: 24px !important;
    max-width: 24px !important;
    max-height: 24px !important;
}

.asw-btn svg {
    width: 34px !important;
    height: 34px !important;
    min-width: 34px !important;
    min-height: 34px !important;
    max-width: 34px !important;
    max-height: 34px !important;
}

.asw-btn:hover,
.asw-btn.asw-selected {
    border-color: #0848ca !important;
}

.asw-btn.asw-selected svg,
.asw-btn.asw-selected span {
    fill: #0848ca !important;
    color: #0848ca !important;
}

.asw-btn.asw-selected:after {
    content: '';
    display: inline-block;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M382-240%20154-468l57-57%20171%20171%20367-367%2057%2057-424%20424Z%22%2F%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0848ca!important;
    color: #fff;
    padding: 6px;
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    line-height: 6px;
}

.asw-footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #eff1f5;
}

.asw-footer a {
    font-size: 16px !important;
    text-decoration: none !important;
    color: #000 !important;
    background: transparent !important;
    font-weight: 600 !important;
}

.asw-footer a:hover,
.asw-footer a:hover span {
    color: #0848ca!important;
}

.asw-menu-content {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px 0 15px;
}

.asw-adjust-font, .asw-set-font {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.asw-adjust-font .asw-label, .asw-set-font .asw-label {
    display: flex;
    justify-content: flex-start;
}

.asw-adjust-font > div, .asw-set-font > div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    font-size: 15px;
}

.asw-adjust-font .asw-label div, .asw-set-font .asw-label div {
    font-size: 15px !important;
}

.asw-adjust-font div[role="button"], .asw-set-font div[role="button"] {
    background: #eff1f5 !important;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.asw-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

@media only screen and (max-width: 560px) {
    .asw-menu {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .asw-items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.5rem;
    }
}