<style>
    .asw-menu {
        position: fixed;
        left: 20px;
        top: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 20px #00000080;
        opacity: 1;
        transition: .3s;
        z-index: 500000;
        overflow: hidden;
        background: #f9f9f9;
        width: 500px;
        line-height: 1;
        font-size: 16px;
        height: calc(100% - 40px - 75px);
        letter-spacing: 0.015em;
    }

    .asw-menu * {
        color: #000 !important;
        font-family: inherit;
    }

    .asw-menu svg {
        width: 24px;
        height: 24px;
        background: transparent !important;
        fill: currentColor;
    }

    .asw-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 18px;
        height: 60px;
        font-size: 18px;
        font-weight: 700;
        border-bottom: 1px solid #dedede;
    }

    .asw-menu-header > div {
        display: flex;
    }

    .asw-menu-header div[role="button"] {
        padding: 12px;
        cursor: pointer;
    }

    .asw-menu-header div[role="button"]:hover {
        opacity: 0.8;
    }

    .asw-card {
        margin: 0 15px 30px;
    }

    .asw-card-title {
        font-size: 20px;
        padding: 15px 0;
        font-weight: 700;
        color: #555;
    }

    .asw-menu .asw-select {
        width: 100% !important;
        padding: 10px !important;
        font-size: 16px !important;
        font-family: inherit !important;
        font-weight: 400 !important;
        border-radius: 4px !important;
        background: #fff !important;
        border: none !important;
        border: 1px solid #dedede !important;
        min-height: 45px !important;
        max-height: 45px !important;
        height: 45px !important;
        color: inherit !important;
    }

    .asw-items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .asw-btn {
        aspect-ratio: 6 / 5;
        border-radius: 4px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #333;
        font-size: 16px !important;
        background: #fff;
        border: 1px solid #dedede;
        transition: all 0.3s ease;
        cursor: pointer;
        line-height: 1.4;
    }

    .asw-btn .asw-translate {
        font-size: 15px !important;
    }

    .asw-btn svg {
        margin-bottom: 16px;
    }

    .asw-btn:hover {
        border-color: #0048ff;
    }

    .asw-btn.asw-selected {
        background: #0048ff;
        border-color: #0048ff;
    }

    .asw-btn.asw-selected *,
    .asw-adjust-font div[role="button"] svg {
        fill: #fff !important;
        color: #fff !important;
        background-color: transparent !important;
    }

    html.aws-filter .asw-menu button {

    }

    .asw-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        padding: 16px;
        text-align: center;
        color: #333;
        border-top: 1px solid #eee;
    }

    .asw-footer a {
        font-size: 14px !important;
        text-decoration: underline;
        color: #0648ff;
        background: transparent !important;
        font-weight: 700;
    }

    .asw-plus:hover,
    .asw-minus:hover {
        opacity: 0.8;
    }

    .asw-menu-content {
        overflow: scroll;
        max-height: calc(100% - 80px);
        color: #333;
        padding: 15px 0;
    }

    .asw-adjust-font {
        background: #fff;
        border: 1px solid #dedede;
        padding: 20px;
        margin-bottom: 16px;
    }

    .asw-adjust-font .asw-label {
        display: flex;
        justify-content: flex-start;
    }

    .asw-adjust-font > div {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        font-size: 15px;
    }

    .asw-adjust-font .asw-label div {
        font-size: 15px !important;
    }

    .asw-adjust-font div[role="button"] {
        background: #0648ff;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .asw-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
    }

    @media only screen and (max-width: 560px) {
        .asw-menu {
            width: calc(100% - 20px);
            left: 10px;
        }
    }

    @media only screen and (max-width: 420px) {
        .asw-items {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0.5rem;
        }

        .asw-menu {
            width: calc(100% - 20px);
            left: 10px;
        }

    }
</style>

<div class="asw-menu">
    <div class="asw-menu-header">
        <div class="asw-translate">
            Accessibility Menu
        </div>
        <div>
            <div role="button" class="asw-menu-reset"  title="Reset settings">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 4c2.1 0 4.1.8 5.6 2.3 3.1 3.1 3.1 8.2 0 11.3a7.78 7.78 0 0 1-6.7 2.3l.5-2c1.7.2 3.5-.4 4.8-1.7a6.1 6.1 0 0 0 0-8.5A6.07 6.07 0 0 0 12 6v4.6l-5-5 5-5V4M6.3 17.6C3.7 15 3.3 11 5.1 7.9l1.5 1.5c-1.1 2.2-.7 5 1.2 6.8.5.5 1.1.9 1.8 1.2l-.6 2a8 8 0 0 1-2.7-1.8Z"/>
                </svg>
            </div>
            <div role="button" class="asw-menu-close" title="Close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41Z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="asw-menu-content">
        <div class="asw-card">
            <select id="asw-language" title="Language" class="asw-select"></select>
        </div>

        <div class="asw-card">
            <div class="asw-card-title">
                Content Adjustments
            </div>
            <div class="asw-adjust-font">
                <div class="asw-label" style="margin:0;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="margin-right:8px;">
                        <path d="M2 4v3h5v12h3V7h5V4H2m19 5h-9v3h3v7h3v-7h3V9Z"/>
                    </svg>
                    <div class="asw-translate">
                        Adjust Font Size
                    </div>
                </div>
                <div>
                    <div class="asw-minus" data-key="font-size" role="button" aria-pressed="false" title="Decrease Font Size">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M19 13H5v-2h14v2Z"/>
                        </svg>
                    </div>
                    <div class="asw-amount" style="font-weight:400;">
                        100%
                    </div>
                    <div class="asw-plus" data-key="font-size" role="button" aria-pressed="false" title="Increase Font Size">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2Z"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="asw-items content">
            </div>
        </div>

        <div class="asw-card">
            <div class="asw-card-title">
                Color Adjustments
            </div>
            <div class="asw-items contrast">
            </div>
        </div>

        <div class="asw-card">
            <div class="asw-card-title ">
                Tools
            </div>
            <div class="asw-items tools">
            </div>
        </div>
    </div>
    
    <div class="asw-footer">
        <a href="https://accessibility-widget.pages.dev">Accessibility Widget by Sienna</a> 
    </div>
</div>

<div class="asw-overlay">
</div>